.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-h);
  width: 100%;
  background-color: var(--ux-dark);
  color: var(--white);

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .toggle {
      width: var(--nav-close-w);
    }
    .brand {
      display: block;
      width: 10rem;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .functions {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
  }

  .settings {
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    button {
      background-color: transparent;
      border: none;
      margin-right: 1.5rem;

      &,
      &:focus,
      &:active {
        outline: none;
      }

      &:last-of-type {
        margin-right: 0;
      }

      i {
        color: var(--white);
        font-size: 1.4rem;
      }
      span {
        &.badge {
          position: absolute;
          margin-left: 0rem;
          top: 1rem;
        }
      }
    }
  }
}
