<header class="header">
  <div class="menu">
    <div class="toggle">
      <app-hamburger></app-hamburger>
    </div>
    <h2 class="brand">
      Data visualization
    </h2>
  </div>

  <div class="functions">
    <app-fullscreen></app-fullscreen>
    <app-search></app-search>
  </div>

  <div class="settings">
    <button (click)="toggleNotification()">
      <i class="fas fa-bell"></i>
      <span class="badge badge-warning" *ngIf="notification > 0">
        {{ notification }}
      </span>
    </button>
    <button (click)="toggleProfile()">
      <i class="fas fa-user"></i>
    </button>
    <button (click)="toggleSetting()">
      <i class="fas fa-sliders-h"></i>
    </button>
  </div>
</header>
